form {
  width: 300px;
  margin: 0 auto;
  align-self: center;
}
.eye {
  top: 25%;
  left: 90%;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn {
  cursor: pointer;
  margin: 3px;
}

.formContainer {
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
}

h4 {
  padding-top: 50px;
  text-align: center;
}

h6 {
  text-align: center;
  padding-bottom: 25px;
  font-weight: 100;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.forgot-btn{
  background-color: white;
    font-family: lato;
    background: linear-gradient(180deg, rgb(248, 124.76, 11) 0%, rgb(75.39, 2.87, 229.5) 100%);
    color: white;
    width: 150px;
    border-radius: 8px;
    border: none;
    height: 35px;
    box-shadow: 0px 1px 3px #0000000d, 0px 36px 28px -7px #0000000d, 0px 17px 17px -7px #0000000a;
  }
