@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.logo-text {
  font-family: 'Righteous', sans-serif;
}

.navbar-signup-button{
    background-color: white;
    margin-right: 10px;
    font-family: lato;
    background: linear-gradient(180deg, rgb(248, 124.76, 11) 0%, rgb(75.39, 2.87, 229.5) 100%);
    color: white;
    width: 102px;
    border-radius: 8px;
    border: none;
    height: 35px;
    box-shadow: 0px 1px 3px #0000000d, 0px 36px 28px -7px #0000000d, 0px 17px 17px -7px #0000000a;

}

.navbar-login-button { 
    background-color: white;
    margin-right: 10px;
    font-family: lato;
    background: linear-gradient(180deg, rgb(248, 124.76, 11) 0%, rgb(75.39, 2.87, 229.5) 100%);
    color: white;
    width: 102px;
    border-radius: 8px;
    border: none;
    height: 35px;
    box-shadow: 0px 1px 3px #0000000d, 0px 36px 28px -7px #0000000d, 0px 17px 17px -7px #0000000a;
    
}


.profile {
    margin: 5px;
}

