.park-card {
    width: 327px;
    height: 394px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
  }
  
  .park-card-image {
    width: 327px;
    height: 200px;
    object-fit: cover;
  }
  
  .park-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-bar{
    justify-content: center;
    align-items: center;
  }
  
  .park-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .park-card-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .park-card-button {
    border: none;
    background: linear-gradient(to right, #ee84c5, #4e0e50);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
  }

  .buttons {
    justify-content: center;
    display: flex;
    align-items: center; /* Center vertically */
    height: 100%;
    width: 100%;  /* Occupy full height of the card */
  }

  .park-card-heart-button {
    /* align-self: center; */
    font-size: 14px;
    /* position: absolute; */
    bottom: 10px;
    margin: 5px;
  }