.plus{
    width: 50px;
    height: 50px;
}

.fav-activity{
    margin-top: 200px;
}

.top-activity{
    display: flex;
}

.addActivity{
    margin-left: 200px;
}

.activity-length{
    margin-left: 400px;
}

.remove-btn{
    display: flex;
    justify-content: center;
}

.activity-name{
    color: black;
}