.all{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 171, 171, 0.518);
}

.upload{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 171, 171, 0.518);
}

.text{
    margin-bottom: 200px;
    font-size: 2rem;
}