.box {
    height: 489px;
    width: 668px;
  }
  
  .box .image {
    /* background-color: #aeabab26; */
    background-color: black;
    border-radius: 20px;
    box-shadow: var(--shadow-mainshadow);
    height: 489px;
    left: 0;
    position: fixed;
    top: 0;
    width: 668px;
  }