.background{
    background-color:rgba(246, 247, 255, 0.981);
}

.grid{
    display: flex;
    justify-content: center;
}

.image{
    display: flex;
    justify-items: center;
    align-items: center;
}

.bio {
    display: inline-block;
}

.activity{
    background-color: white;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin-left: 300px;
    border-radius: 50px;
}
